---
import Layout from '../components/Layout.astro';
---

<Layout title="Luca &amp; Valeria">
	<main>
    <div id="content">
      <div class="header">
        <h1 class="title">Ci Sposiamo! </h1>
        <div class="photoWrapper">
          <!-- Inizia carosello -->
          <div
            class="photo-carousel"
            data-flickity='{ "cellAlign": "left", "imagesLoaded": true, "wrapAround": true, "freeScroll": true }'
           >
            <img src="../../public/foto/valeLuca2.jpg" />
            <img src="../../public/foto/valeLuca1.jpg" />
            <img src="../../public/foto/valeLuca3.jpg" />
          </div> 
          <!-- Fine carosello -->
          <img src="../../public/assets/peonia3b.png" height=170 class="photo1"/>
          <img src="../../public/assets/orchidea1b.png" height=170 class="photo2"/>
        </div>
        <div class="body">
          <p>
          Siamo felicei di annunciarvi che, ebbene si, <strong>Sabato 8 Luglio 20233</strong>, ci sposiamo!
          </p>
          <p>
          Vogliamo che sia un giorno speciale anche per voi, quindi ci raccomandiamo...
          </p>
          <p>
          Se volete renderci piu' facile l'organizzazione dei preparativi, andate alla sezione <strong>RSVP</strong> e fateci sapere se sarete dei nostri!
          </p>
        </div>

        <h2 class="titoletto">
          Dove? Quando?
        </h2>

        <h2 class="titoletto">
          RSVP
        </h2>
        <div class="thanks"> 
          <h2 class="titoletto" style=>
            Grazie!
          </h2>
          <p>
            Il Miglior regalo e' la vostra presenza, ma se vorrete aiutarci a realizzare alcuni sogni nel cassetto... grazie!
          <br>
          <br>
          <strong>IT6912385671231278912834E91823</strong>
          </p>
        </div>
        <div class="bttns">
        </div>
      </div>
      <footer class="footer" />
    </div>
	</main>
</Layout>
