---
import Layout from '../components/Layout.astro';
---

<Layout title="Luca &amp; Valeria">
	<main>
    <div id="content">
      <div class="header">
        <h1 class="title">Luca &amp; Valeria</h1>
        <h2> </h2>
        <div class="sliderWrapper">
          <div class="slider">
            <div class="slide">
              <img src="../../public/foto/sposi5.jpeg" />
            </div>
            <div class="slide">
              <img src="../../public/foto/sposi2.jpeg" />
            </div>

            <div class="slide">
              <img src="../../public/foto/sposi3.jpeg" />
            </div>
            
            <div class="slide">
              <img src="../../public/foto/sposi4.jpeg" />
            </div>

            <div class="slide">
              <img src="../../public/foto/sposi6.jpeg" />
            </div>

            <div class="slide">
              <img src="../../public/foto/sposi7.jpeg" />
            </div>
            
            <div class="slide">
              <img src="../../public/foto/sposi8.jpeg" />
            </div>
            <button class="btn btn-next">&gt;</button>
            <button class="btn btn-prev">&lt;</button>
         </div>
        </div>
        <div class="testo">
         <img src="../../public/assets/orchidea1b.png" height=170 class="orchidea"/>
          <p>
          Siamo felici di annunciarvi che, <strong>Sabato 8 Luglio 2023</strong>, ci sposiamo!
          </p>
          <p>
          Vogliamo che sia un giorno speciale, un giorno di festa! In cui celebrare il nostro amore e divertirci tutti insieme.
          </p>
         <img src="../../public/assets/peonia3b.png" height=170 class="peonia"/>
        </div>
        <div class="cerimonia">
          <h2 class="titoletto">
            Cerimonia
          </h2>
          <div class="titolotto">Chiesa di San Pantaleone</div>
          <img src="../../public/foto/chiesa.jpg" width=300 style="margin-top:0.7rem;"/>
          <ul>
            <li>Via Canipaletti, 9 <br> Pieve a Elici, 55054 Massarosa (LU)</li>
            <br>
            <li>Ore 16:00</li>
          </ul>
        </div>
        <div class="cerimonia">
          <h2 class="titoletto">
            Ricevimento
          </h2>
          <div class="titolotto">Villa Grabau</div>
          <img src="../../public/foto/villa.jpg" width=300 style="margin-top:0.7rem;"/>
          <ul>
            <li>Via Canipaletti, 9 <br> Pieve a Elici, 55054 Massarosa (LU)</li>
          </ul>
        </div>
        <br> 
        <br> 
        <br> 
        <h2 class="titoletto">
          RSVP
        </h2>
        <p style="padding: 0 3rem;">
          Se volete renderci piu' facile l'organizzazione fateci sapere se sarete presenti 
        </p>
        <span class="titolotto">Inserisci Nome e Cognome <br> per ogni invitato</span>
        <form class="form">
          <label> Partecipante
            <input placeholder="Mario Rossi"></input>
          </label>
          <label> Allergie
            <input placeholder="latticini, rucola"></input>
          </label>
          <br><button>conferma presenza</button>
        </form>
        <div class="testo"> 
          <h2 class="titoletto" style=>
            Non vediamo l'ora di festeggiare insieme!
          </h2>
          <p>
            La vostra presenza sarà per noi il dono più bello. Se desiderate farci un regalo, potete aiutarci a realizzare il sogno di un'avventura in giro per il mondo.
          <br>
          <br>
          <button>Lista di Nozze </button>
          <!-- <strong>IT6912385671231278912834E91823</strong> -->
          </p>
        </div>
        <div class="bttns">
        </div>
      </div>
      <footer class="footer" />
    </div>
	</main>
</Layout>
