@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html {
  font-family: var(--main-family);
  min-height: 100%;
  height:100vh;
  width:100vw;
}

ul{
  width:100%;
  list-style:none;
  padding:0.2rem 0.5rem 0 0.5rem;
}

h2{
  margin:0;
}

.form{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form label {
  padding: 0.5rem 3rem;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  display: inline-flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.form input {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items:center;
  
  margin-left:1rem;
  padding: 5px 5px 0 5px;
  border: none;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-golden-brown);
  color: var(--color-golden-brown);
}

.form input:focus, 
.form input:focus-visible{
  border:none;
  outline:none;
  border-bottom: 1px solid var(--color-golden-brown);
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.title{
  text-align: center;
  font-family: 'Parisienne', cursive;
  font-size: 3rem;
}

.text-section{
  padding: 0 3.2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

p{
  font-family: 'Libre Baskerville', serif; 
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.titoletto{
  font-family: 'Nanum Myeongjo', serif;
  font-family: 'DM Serif Text', serif;
  font-size: 1rem;
  color: rgb(149, 97, 73);
}

.titolotto{
  font-family: 'Noto Serif JP', serif;
  font-size:1.5rem;
  color: rgb(149, 97, 73);
}

.sliderWrapper{
  width:100%;
  display:flex;
  justify-content:center;
}

.slider {
  max-width: 800px;
  width:80%;
  height: 350px;
  position: relative;
  overflow: hidden;
  /*border-radius: 1rem;*/
  box-shadow:
   0 2.8px 2.2px rgba(0, 0, 0, 0.034),
   0 6.7px 5.3px rgba(0, 0, 0, 0.048),
   0 12.5px 10px rgba(0, 0, 0, 0.06),
   0 22.3px 17.9px rgba(0, 0, 0, 0.072),
   0 41.8px 33.4px rgba(0, 0, 0, 0.086),
   0 100px 80px rgba(0, 0, 0, 0.12)
  ; 
}

.slide {
  z-index: 1;
  width: 100%;
  max-width: 800px;
  height: 350px;
  position: absolute;
  transition: all 0.5s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  background-color: #ffffff38;
  font-size: 18px;
}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  color: grey;
  z-index: 2;
  top: 45%;
  left: 2%;
}

.btn-next {
  color: grey;
  z-index: 2;
  top: 45%;
  right: 2%;
}

#presentazione{
  position: relative;
}

#peonia{
  position: absolute;
  transform: rotate(-45deg);
  top: 60px;
  right: -41px;
  z-index: -1;
  opacity: 30%;
}

#orchidea{
  position: absolute;
  top:-100px;
  left: -80px;
  display: flex;
  transform: rotateY(180deg) rotateZ(25deg);
  z-index: -1;
  opacity: 30%;
}

.photo3{
  position:relative;
  width:100%;
  border-radius: 1rem;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}

.location{
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color: #fce7d6;
  margin-bottom: 1rem;
  padding: 1rem;
  border:1px solid burlywood;
}

#RSVP{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#RSVP button {
  margin-top: 1.2rem; 
}

button{
  background: none;
  outline: none;
  border: 2px solid var(--color-golden-brown);
  padding: 0.5rem;
  color:var(--color-golden-brown); 
  font-size:1rem;
  text-transform: capitalize;
}

button:hover{
  color: var(--color-bg);
  background: var(--color-golden-brown);
}

#excited{
  font-size: 2rem;
}

.thanks{
  padding: 1rem 0;
}

footer {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

footer img {
  width: 20px;
}
 /* The Modal (background) */
.modal{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  z-index: 3;

}

/* Modal Content/Box */
.modal-content {
  position: relative;
  background-color: var(--color-bg);
  margin: auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  margin-top: -1rem;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--color-golden-brown);
  text-decoration: none;
  cursor: pointer;
} 


/* Styles for desktop screens */
main {
  display: none;
}

#mobileAlert{
  display: flex;
  padding: 7rem;
  justify-content: center;
  align-items: center;
}

/* Styles for mobile screens */
@media screen and (max-width: 767px) {
  #mobileAlert{
    display: none;
  }

  main {
    display: block;
  }
  
}