@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400&display=swap');
/*
:root {
  --main-family: 'Poppins', sans-serif;
  --color-bg: linear-gradient(180deg, #FFFFFF 0%, #AEC6DC 100%);

  
  --top-right-blur-1: #20C6B7;
  --top-right-blur-2: #4D9ABF;
  --bttm-left-blur-1: #FF5C02;
  --bttm-left-blur-2: #FFCDB1;
}
*/
html {
   /* background: var(--color-bg); */
    font-family: var(--main-family);
    min-height: 100%;
}

/*
#background {
    position: fixed;
    width: 100%;
    z-index: -1;
    height: 100%;
}
*/

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.header{
  text-align: center;
}

.title{
  font-family: 'Parisienne', cursive;
  font-size: 3rem;
}

p{
  font-family: 'Libre Baskerville', serif; 
  font-size: 1rem;
}

.body{
  padding: 0 1.2rem;
  margin-top:1rem;
}

.header h1 {
  padding-top:9%;
  margin: 0;
}

.titoletto{
  font-family: 'Nanum Myeongjo', serif;
  font-size: 1.5rem;
  color: rgb(149, 97, 73);
}

.photoWrapper{
  position:relative;
  display: grid;
  height: 20rem;
  width:100%;
  margin-top:-20px;
}

.photos{
  position:absolute;
  padding-top:30px;
  z-index:1;
  width: 80%;
  justify-self:center;
  align-self:center;
  border-radius: 1rem;
}

.photo1{
  transform:rotate(-45deg);
}

.photos{
  position:relative;
  width:100%;
  border-radius: 1rem;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}

.photo2{
  display: flex;
  justify-self: end;
  align-self:end;
  transform:rotateY(180deg);
}

.thanks{
  padding: 1rem 0;
}
footer {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

footer img {
  width: 20px;
}
